<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zzw.fenda.dao.QueslistDao">

    <insert id="insertAndGetId" parameterType="Queslist" keyProperty="quesID">
        insert into queslist(giverID, solverID, quesInfo)
        values (#{giverID}, #{solverID}, #{quesInfo})
    </insert>

    <select id="selectById" parameterType="Integer" resultType="Queslist">
        select *
        from queslist
        where quesID = #{id}
    </select>

    <update id="updateReplyById" parameterType="Queslist">
        update queslist
        set solveDate=#{solveDate},
            answer=#{answer},
            audioUrl=#{audioUrl}
        where quesID = #{quesID}
    </update>

    <select id="listQuesByFilter" resultType="com.zzw.fenda.dto.AskListDTO">
        select q.*,
            giver.photo as 'giverAvatar',
            solver.photo as 'solverAvatar',
            giver.nickname as 'giverNickname',
            solver.nickname as 'solverNickname'
        from queslist as q
        inner join user giver on giver.uid = q.giverID
        inner join user solver on solver.uid = q.solverID
        <where>
            <if test="filter.giverID != null">
                and q.giverID = #{filter.giverID}
            </if>
            <if test="filter.solverID != null">
                and q.solverID = #{filter.solverID}
            </if>
            <if test="filter.keyword != null">
                and q.quesInfo LIKE CONCAT('%',#{filter.keyword},'%')
            </if>
            <if test="filter.solved != null and filter.solved != 0">
                and q.solveDate is not null
            </if>
            <if test="filter.solved != null and filter.solved == 0">
                and q.solveDate is null
            </if>
        </where>
        limit #{offset},#{limit}
    </select>

</mapper>
